@model IEnumerable<Akhil.ProcessOrders.Web.Models.PaymentType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentCodeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodeStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentCodeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodeStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PaymentTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PaymentTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PaymentTypeID })
        </td>
    </tr>
}

</table>
